// Inline
.inline() {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  & > * {
    font-size: @font-size-base;
    line-height: @line-height-base;
    display: inline-block;
    vertical-align: top;
  }
}

.inline {
  .inline();
}