.close-btn:after {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -102px;
}
.rating {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -210px;
}
.rating > div {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -227px;
}
.social-icon-facebook i:before {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -118px;
}
.social-icon-twitter i:before {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -176px;
}
.social-icon-pinterest i:before {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -153px;
}
.social-icon-youtube i:before {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -190px;
}
.social-icon-instagram i:before {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -135px;
}
.jq-dropdown-panel:after {
  content: none;
}
.carousel-prev {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 0;
}
.carousel-next {
  background: transparent url(../images/icons/sprite.png) no-repeat;
  background-position: 0 -50px;
}
/*# sourceMappingURL=ie8.css.map */