/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.inline {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
}
.inline > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  -webkit-font-smoothing: antialiased;
  font: 300 12px/1.4 'Open Sans', sans-serif;
  color: #282828;
  height: 100%;
  background: #f6f6f6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #2c303d;
  margin: 0 0 10px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  margin: 0 0 20px;
}
a:not([class]) {
  color: #282828;
  outline: none;
  text-decoration: underline;
}
a:not([class]):hover {
  color: #282828;
}
audio,
canvas,
svg,
video {
  max-width: 100%;
  height: auto;
}
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle;
}
iframe {
  width: 1px;
  min-width: 100%;
  *width: 100%;
  margin: 0 0 15px;
  border: none;
}
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 0 0 15px;
}
hr {
  border: none;
  margin: 0 0 20px;
  padding: 0;
  height: 1px;
  background: #282828;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table,
th,
td {
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 30px;
  width: 100%;
}
table a:not([class]) {
  color: #2c303d;
  text-decoration: underline;
}
table a:not([class]):hover {
  text-decoration: none;
  color: #2c303d;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th,
td {
  padding: 8px 15px;
}
tbody tr:nth-child(2n+1) th,
tbody tr:nth-child(2n+1) td {
  background: #282828;
}
thead th,
tfoot th,
thead td,
tfoot td {
  background: #2c303d;
  color: #fff;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.align-right {
  margin-left: auto;
  margin-right: 0;
  display: table;
  table-layout: fixed;
}
.align-right[class] {
  margin-left: auto;
  margin-right: 0;
  display: table;
  table-layout: fixed;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.color-1 {
  color: #282828;
}
.color-2 {
  color: #2c303d;
}
.color-3 {
  color: #fff;
}
.color-4 {
  color: #ce2c52;
}
.color-5 {
  color: #2c87ce;
}
.color-6 {
  color: #8ae6cf;
}
.color-7 {
  color: #f6f6f6;
}
.color-8 {
  color: #eaf2f4;
}
.bg-1 {
  background: #282828;
}
.bg-2 {
  background: #2c303d;
}
.bg-3 {
  background: #fff;
}
.bg-4 {
  background: #ce2c52;
}
.bg-5 {
  background: #2c87ce;
}
.bg-6 {
  background: #8ae6cf;
}
.bg-7 {
  background: #f6f6f6;
}
.bg-8 {
  background: #eaf2f4;
}
.float-right {
  float: right;
  margin: 0 0 15px 15px;
}
.float-left {
  float: left;
  margin: 0 15px 15px 0;
}
.full-width {
  width: 100%;
}
.my-grid-system [class^="grid-col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background: #BFDFBF;
  background-color: rgba(0, 127, 0, 0.25);
  border: 1px solid #5FAF5F;
  border: 1px solid rgba(0, 127, 0, 0.5);
}
.grid-align-example .grid {
  margin-bottom: 15px;
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-inline-table {
  display: inline-table !important;
}
.d-table {
  display: table !important;
}
.d-table-cell {
  display: table-cell !important;
}
@media screen and (min-width: 480px) {
  .d-mb-none {
    display: none !important;
  }
  .d-mb-inline {
    display: inline !important;
  }
  .d-mb-inline-block {
    display: inline-block !important;
  }
  .d-mb-block {
    display: block !important;
  }
  .d-mb-inline-table {
    display: inline-table !important;
  }
  .d-mb-table {
    display: table !important;
  }
  .d-mb-table-cell {
    display: table-cell !important;
  }
}
@media screen and (min-width: 576px) {
  .d-ph-none {
    display: none !important;
  }
  .d-ph-inline {
    display: inline !important;
  }
  .d-ph-inline-block {
    display: inline-block !important;
  }
  .d-ph-block {
    display: block !important;
  }
  .d-ph-inline-table {
    display: inline-table !important;
  }
  .d-ph-table {
    display: table !important;
  }
  .d-ph-table-cell {
    display: table-cell !important;
  }
}
@media screen and (min-width: 768px) {
  .d-tl-none {
    display: none !important;
  }
  .d-tl-inline {
    display: inline !important;
  }
  .d-tl-inline-block {
    display: inline-block !important;
  }
  .d-tl-block {
    display: block !important;
  }
  .d-tl-inline-table {
    display: inline-table !important;
  }
  .d-tl-table {
    display: table !important;
  }
  .d-tl-table-cell {
    display: table-cell !important;
  }
}
@media screen and (min-width: 865px) {
  .d-dt-none {
    display: none !important;
  }
  .d-dt-inline {
    display: inline !important;
  }
  .d-dt-inline-block {
    display: inline-block !important;
  }
  .d-dt-block {
    display: block !important;
  }
  .d-dt-inline-table {
    display: inline-table !important;
  }
  .d-dt-table {
    display: table !important;
  }
  .d-dt-table-cell {
    display: table-cell !important;
  }
}
@media screen and (min-width: 1200px) {
  .d-ld-none {
    display: none !important;
  }
  .d-ld-inline {
    display: inline !important;
  }
  .d-ld-inline-block {
    display: inline-block !important;
  }
  .d-ld-block {
    display: block !important;
  }
  .d-ld-inline-table {
    display: inline-table !important;
  }
  .d-ld-table {
    display: table !important;
  }
  .d-ld-table-cell {
    display: table-cell !important;
  }
}
.grid {
  margin-left: -10px;
  margin-right: -10px;
}
.grid-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
.grid-row > * {
  font-size: 12px;
  line-height: 1.4;
}
.align-top-grid > [class*="grid-col-"] {
  vertical-align: top;
}
.align-middle-grid > [class*="grid-col-"] {
  vertical-align: middle;
}
.align-bottom-grid > [class*="grid-col-"] {
  vertical-align: bottom;
}
[class*="grid-col-"].align-top-col {
  vertical-align: top;
}
[class*="grid-col-"].align-middle-col {
  vertical-align: middle;
}
[class*="grid-col-"].align-bottom-col {
  vertical-align: bottom;
}
.grid-row [class*="push-"],
.grid-row [class*="pull-"] {
  position: relative;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .grid-row > [class*="grid-col-"] {
  padding-right: 0;
  padding-left: 0;
}
.grid-col-mb-12 {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-11 {
  padding-left: 10px;
  padding-right: 10px;
  width: 91.66666667%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-10 {
  padding-left: 10px;
  padding-right: 10px;
  width: 83.33333333%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-9 {
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-8 {
  padding-left: 10px;
  padding-right: 10px;
  width: 66.66666667%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-7 {
  padding-left: 10px;
  padding-right: 10px;
  width: 58.33333333%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-6 {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-5 {
  padding-left: 10px;
  padding-right: 10px;
  width: 41.66666667%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-4 {
  padding-left: 10px;
  padding-right: 10px;
  width: 33.33333333%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-3 {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-2 {
  padding-left: 10px;
  padding-right: 10px;
  width: 16.66666667%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 8.33333333%;
  display: inline-table;
  table-layout: fixed;
  vertical-align: top;
}
.grid-col-mb-offset-12 {
  margin-left: 100%;
}
.grid-col-mb-offset-right-12 {
  margin-right: 100%;
}
.grid-col-mb-offset-11 {
  margin-left: 91.66666667%;
}
.grid-col-mb-offset-right-11 {
  margin-right: 91.66666667%;
}
.grid-col-mb-offset-10 {
  margin-left: 83.33333333%;
}
.grid-col-mb-offset-right-10 {
  margin-right: 83.33333333%;
}
.grid-col-mb-offset-9 {
  margin-left: 75%;
}
.grid-col-mb-offset-right-9 {
  margin-right: 75%;
}
.grid-col-mb-offset-8 {
  margin-left: 66.66666667%;
}
.grid-col-mb-offset-right-8 {
  margin-right: 66.66666667%;
}
.grid-col-mb-offset-7 {
  margin-left: 58.33333333%;
}
.grid-col-mb-offset-right-7 {
  margin-right: 58.33333333%;
}
.grid-col-mb-offset-6 {
  margin-left: 50%;
}
.grid-col-mb-offset-right-6 {
  margin-right: 50%;
}
.grid-col-mb-offset-5 {
  margin-left: 41.66666667%;
}
.grid-col-mb-offset-right-5 {
  margin-right: 41.66666667%;
}
.grid-col-mb-offset-4 {
  margin-left: 33.33333333%;
}
.grid-col-mb-offset-right-4 {
  margin-right: 33.33333333%;
}
.grid-col-mb-offset-3 {
  margin-left: 25%;
}
.grid-col-mb-offset-right-3 {
  margin-right: 25%;
}
.grid-col-mb-offset-2 {
  margin-left: 16.66666667%;
}
.grid-col-mb-offset-right-2 {
  margin-right: 16.66666667%;
}
.grid-col-mb-offset-1 {
  margin-left: 8.33333333%;
}
.grid-col-mb-offset-right-1 {
  margin-right: 8.33333333%;
}
.grid-col-mb-offset-0 {
  margin-left: 0%;
}
.grid-col-mb-offset-right-0 {
  margin-right: 0%;
}
.grid-col-mb-pull-12 {
  right: 100%;
}
.grid-col-mb-pull-11 {
  right: 91.66666667%;
}
.grid-col-mb-pull-10 {
  right: 83.33333333%;
}
.grid-col-mb-pull-9 {
  right: 75%;
}
.grid-col-mb-pull-8 {
  right: 66.66666667%;
}
.grid-col-mb-pull-7 {
  right: 58.33333333%;
}
.grid-col-mb-pull-6 {
  right: 50%;
}
.grid-col-mb-pull-5 {
  right: 41.66666667%;
}
.grid-col-mb-pull-4 {
  right: 33.33333333%;
}
.grid-col-mb-pull-3 {
  right: 25%;
}
.grid-col-mb-pull-2 {
  right: 16.66666667%;
}
.grid-col-mb-pull-1 {
  right: 8.33333333%;
}
.grid-col-mb-pull-0 {
  right: 0%;
}
.grid-col-mb-push-12 {
  left: 100%;
}
.grid-col-mb-push-11 {
  left: 91.66666667%;
}
.grid-col-mb-push-10 {
  left: 83.33333333%;
}
.grid-col-mb-push-9 {
  left: 75%;
}
.grid-col-mb-push-8 {
  left: 66.66666667%;
}
.grid-col-mb-push-7 {
  left: 58.33333333%;
}
.grid-col-mb-push-6 {
  left: 50%;
}
.grid-col-mb-push-5 {
  left: 41.66666667%;
}
.grid-col-mb-push-4 {
  left: 33.33333333%;
}
.grid-col-mb-push-3 {
  left: 25%;
}
.grid-col-mb-push-2 {
  left: 16.66666667%;
}
.grid-col-mb-push-1 {
  left: 8.33333333%;
}
.grid-col-mb-push-0 {
  left: 0%;
}
@media (min-width: 480px) {
  .grid-col-sm-12 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-11 {
    padding-left: 10px;
    padding-right: 10px;
    width: 91.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-9 {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-8 {
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-7 {
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-6 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 41.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 8.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-sm-offset-12 {
    margin-left: 100%;
  }
  .grid-col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .grid-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .grid-col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .grid-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .grid-col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .grid-col-sm-offset-9 {
    margin-left: 75%;
  }
  .grid-col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .grid-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .grid-col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .grid-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .grid-col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .grid-col-sm-offset-6 {
    margin-left: 50%;
  }
  .grid-col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .grid-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .grid-col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .grid-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .grid-col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .grid-col-sm-offset-3 {
    margin-left: 25%;
  }
  .grid-col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .grid-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .grid-col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .grid-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .grid-col-sm-offset-0 {
    margin-left: 0%;
  }
  .grid-col-sm-offset-right-0 {
    margin-right: 0%;
  }
  .grid-col-sm-pull-12 {
    right: 100%;
  }
  .grid-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .grid-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .grid-col-sm-pull-9 {
    right: 75%;
  }
  .grid-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .grid-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .grid-col-sm-pull-6 {
    right: 50%;
  }
  .grid-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .grid-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .grid-col-sm-pull-3 {
    right: 25%;
  }
  .grid-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .grid-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .grid-col-sm-pull-0 {
    right: 0%;
  }
  .grid-col-sm-push-12 {
    left: 100%;
  }
  .grid-col-sm-push-11 {
    left: 91.66666667%;
  }
  .grid-col-sm-push-10 {
    left: 83.33333333%;
  }
  .grid-col-sm-push-9 {
    left: 75%;
  }
  .grid-col-sm-push-8 {
    left: 66.66666667%;
  }
  .grid-col-sm-push-7 {
    left: 58.33333333%;
  }
  .grid-col-sm-push-6 {
    left: 50%;
  }
  .grid-col-sm-push-5 {
    left: 41.66666667%;
  }
  .grid-col-sm-push-4 {
    left: 33.33333333%;
  }
  .grid-col-sm-push-3 {
    left: 25%;
  }
  .grid-col-sm-push-2 {
    left: 16.66666667%;
  }
  .grid-col-sm-push-1 {
    left: 8.33333333%;
  }
  .grid-col-sm-push-0 {
    left: 0%;
  }
}
@media (min-width: 576px) {
  .grid-col-ph-12 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-11 {
    padding-left: 10px;
    padding-right: 10px;
    width: 91.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-9 {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-8 {
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-7 {
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-6 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 41.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 8.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ph-offset-12 {
    margin-left: 100%;
  }
  .col-ph-offset-right-12 {
    margin-right: 100%;
  }
  .grid-col-ph-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ph-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .grid-col-ph-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ph-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .grid-col-ph-offset-9 {
    margin-left: 75%;
  }
  .col-ph-offset-right-9 {
    margin-right: 75%;
  }
  .grid-col-ph-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ph-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .grid-col-ph-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ph-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .grid-col-ph-offset-6 {
    margin-left: 50%;
  }
  .col-ph-offset-right-6 {
    margin-right: 50%;
  }
  .grid-col-ph-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ph-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .grid-col-ph-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ph-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .grid-col-ph-offset-3 {
    margin-left: 25%;
  }
  .col-ph-offset-right-3 {
    margin-right: 25%;
  }
  .grid-col-ph-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ph-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .grid-col-ph-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ph-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .grid-col-ph-offset-0 {
    margin-left: 0%;
  }
  .col-ph-offset-right-0 {
    margin-right: 0%;
  }
  .grid-col-ph-pull-12 {
    right: 100%;
  }
  .grid-col-ph-pull-11 {
    right: 91.66666667%;
  }
  .grid-col-ph-pull-10 {
    right: 83.33333333%;
  }
  .grid-col-ph-pull-9 {
    right: 75%;
  }
  .grid-col-ph-pull-8 {
    right: 66.66666667%;
  }
  .grid-col-ph-pull-7 {
    right: 58.33333333%;
  }
  .grid-col-ph-pull-6 {
    right: 50%;
  }
  .grid-col-ph-pull-5 {
    right: 41.66666667%;
  }
  .grid-col-ph-pull-4 {
    right: 33.33333333%;
  }
  .grid-col-ph-pull-3 {
    right: 25%;
  }
  .grid-col-ph-pull-2 {
    right: 16.66666667%;
  }
  .grid-col-ph-pull-1 {
    right: 8.33333333%;
  }
  .grid-col-ph-pull-0 {
    right: 0%;
  }
  .grid-col-ph-push-12 {
    left: 100%;
  }
  .grid-col-ph-push-11 {
    left: 91.66666667%;
  }
  .grid-col-ph-push-10 {
    left: 83.33333333%;
  }
  .grid-col-ph-push-9 {
    left: 75%;
  }
  .grid-col-ph-push-8 {
    left: 66.66666667%;
  }
  .grid-col-ph-push-7 {
    left: 58.33333333%;
  }
  .grid-col-ph-push-6 {
    left: 50%;
  }
  .grid-col-ph-push-5 {
    left: 41.66666667%;
  }
  .grid-col-ph-push-4 {
    left: 33.33333333%;
  }
  .grid-col-ph-push-3 {
    left: 25%;
  }
  .grid-col-ph-push-2 {
    left: 16.66666667%;
  }
  .grid-col-ph-push-1 {
    left: 8.33333333%;
  }
  .grid-col-ph-push-0 {
    left: 0%;
  }
}
@media (min-width: 768px) {
  .grid-col-tl-12 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-11 {
    padding-left: 10px;
    padding-right: 10px;
    width: 91.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-9 {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-8 {
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-7 {
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-6 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 41.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 8.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-tl-offset-12 {
    margin-left: 100%;
  }
  .col-tl-offset-right-12 {
    margin-right: 100%;
  }
  .grid-col-tl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-tl-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .grid-col-tl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-tl-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .grid-col-tl-offset-9 {
    margin-left: 75%;
  }
  .col-tl-offset-right-9 {
    margin-right: 75%;
  }
  .grid-col-tl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-tl-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .grid-col-tl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-tl-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .grid-col-tl-offset-6 {
    margin-left: 50%;
  }
  .col-tl-offset-right-6 {
    margin-right: 50%;
  }
  .grid-col-tl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-tl-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .grid-col-tl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-tl-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .grid-col-tl-offset-3 {
    margin-left: 25%;
  }
  .col-tl-offset-right-3 {
    margin-right: 25%;
  }
  .grid-col-tl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-tl-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .grid-col-tl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-tl-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .grid-col-tl-offset-0 {
    margin-left: 0%;
  }
  .col-tl-offset-right-0 {
    margin-right: 0%;
  }
  .grid-col-tl-pull-12 {
    right: 100%;
  }
  .grid-col-tl-pull-11 {
    right: 91.66666667%;
  }
  .grid-col-tl-pull-10 {
    right: 83.33333333%;
  }
  .grid-col-tl-pull-9 {
    right: 75%;
  }
  .grid-col-tl-pull-8 {
    right: 66.66666667%;
  }
  .grid-col-tl-pull-7 {
    right: 58.33333333%;
  }
  .grid-col-tl-pull-6 {
    right: 50%;
  }
  .grid-col-tl-pull-5 {
    right: 41.66666667%;
  }
  .grid-col-tl-pull-4 {
    right: 33.33333333%;
  }
  .grid-col-tl-pull-3 {
    right: 25%;
  }
  .grid-col-tl-pull-2 {
    right: 16.66666667%;
  }
  .grid-col-tl-pull-1 {
    right: 8.33333333%;
  }
  .grid-col-tl-pull-0 {
    right: 0%;
  }
  .grid-col-tl-push-12 {
    left: 100%;
  }
  .grid-col-tl-push-11 {
    left: 91.66666667%;
  }
  .grid-col-tl-push-10 {
    left: 83.33333333%;
  }
  .grid-col-tl-push-9 {
    left: 75%;
  }
  .grid-col-tl-push-8 {
    left: 66.66666667%;
  }
  .grid-col-tl-push-7 {
    left: 58.33333333%;
  }
  .grid-col-tl-push-6 {
    left: 50%;
  }
  .grid-col-tl-push-5 {
    left: 41.66666667%;
  }
  .grid-col-tl-push-4 {
    left: 33.33333333%;
  }
  .grid-col-tl-push-3 {
    left: 25%;
  }
  .grid-col-tl-push-2 {
    left: 16.66666667%;
  }
  .grid-col-tl-push-1 {
    left: 8.33333333%;
  }
  .grid-col-tl-push-0 {
    left: 0%;
  }
}
@media (min-width: 865px) {
  .grid-col-dt-12 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-11 {
    padding-left: 10px;
    padding-right: 10px;
    width: 91.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-9 {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-8 {
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-7 {
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-6 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 41.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 8.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-dt-offset-12 {
    margin-left: 100%;
  }
  .grid-col-dt-offset-right-12 {
    margin-right: 100%;
  }
  .grid-col-dt-offset-11 {
    margin-left: 91.66666667%;
  }
  .grid-col-dt-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .grid-col-dt-offset-10 {
    margin-left: 83.33333333%;
  }
  .grid-col-dt-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .grid-col-dt-offset-9 {
    margin-left: 75%;
  }
  .grid-col-dt-offset-right-9 {
    margin-right: 75%;
  }
  .grid-col-dt-offset-8 {
    margin-left: 66.66666667%;
  }
  .grid-col-dt-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .grid-col-dt-offset-7 {
    margin-left: 58.33333333%;
  }
  .grid-col-dt-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .grid-col-dt-offset-6 {
    margin-left: 50%;
  }
  .grid-col-dt-offset-right-6 {
    margin-right: 50%;
  }
  .grid-col-dt-offset-5 {
    margin-left: 41.66666667%;
  }
  .grid-col-dt-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .grid-col-dt-offset-4 {
    margin-left: 33.33333333%;
  }
  .grid-col-dt-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .grid-col-dt-offset-3 {
    margin-left: 25%;
  }
  .grid-col-dt-offset-right-3 {
    margin-right: 25%;
  }
  .grid-col-dt-offset-2 {
    margin-left: 16.66666667%;
  }
  .grid-col-dt-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .grid-col-dt-offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-col-dt-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .grid-col-dt-offset-0 {
    margin-left: 0%;
  }
  .grid-col-dt-offset-right-0 {
    margin-right: 0%;
  }
  .grid-col-dt-pull-12 {
    right: 100%;
  }
  .grid-col-dt-pull-11 {
    right: 91.66666667%;
  }
  .grid-col-dt-pull-10 {
    right: 83.33333333%;
  }
  .grid-col-dt-pull-9 {
    right: 75%;
  }
  .grid-col-dt-pull-8 {
    right: 66.66666667%;
  }
  .grid-col-dt-pull-7 {
    right: 58.33333333%;
  }
  .grid-col-dt-pull-6 {
    right: 50%;
  }
  .grid-col-dt-pull-5 {
    right: 41.66666667%;
  }
  .grid-col-dt-pull-4 {
    right: 33.33333333%;
  }
  .grid-col-dt-pull-3 {
    right: 25%;
  }
  .grid-col-dt-pull-2 {
    right: 16.66666667%;
  }
  .grid-col-dt-pull-1 {
    right: 8.33333333%;
  }
  .grid-col-dt-pull-0 {
    right: 0%;
  }
  .grid-col-dt-push-12 {
    left: 100%;
  }
  .grid-col-dt-push-11 {
    left: 91.66666667%;
  }
  .grid-col-dt-push-10 {
    left: 83.33333333%;
  }
  .grid-col-dt-push-9 {
    left: 75%;
  }
  .grid-col-dt-push-8 {
    left: 66.66666667%;
  }
  .grid-col-dt-push-7 {
    left: 58.33333333%;
  }
  .grid-col-dt-push-6 {
    left: 50%;
  }
  .grid-col-dt-push-5 {
    left: 41.66666667%;
  }
  .grid-col-dt-push-4 {
    left: 33.33333333%;
  }
  .grid-col-dt-push-3 {
    left: 25%;
  }
  .grid-col-dt-push-2 {
    left: 16.66666667%;
  }
  .grid-col-dt-push-1 {
    left: 8.33333333%;
  }
  .grid-col-dt-push-0 {
    left: 0%;
  }
}
@media (min-width: 1200px) {
  .grid-col-ld-12 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-11 {
    padding-left: 10px;
    padding-right: 10px;
    width: 91.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-9 {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-8 {
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-7 {
    padding-left: 10px;
    padding-right: 10px;
    width: 58.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-6 {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 41.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16.66666667%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 8.33333333%;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .grid-col-ld-offset-12 {
    margin-left: 100%;
  }
  .grid-col-ld-offset-right-12 {
    margin-right: 100%;
  }
  .grid-col-ld-offset-11 {
    margin-left: 91.66666667%;
  }
  .grid-col-ld-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .grid-col-ld-offset-10 {
    margin-left: 83.33333333%;
  }
  .grid-col-ld-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .grid-col-ld-offset-9 {
    margin-left: 75%;
  }
  .grid-col-ld-offset-right-9 {
    margin-right: 75%;
  }
  .grid-col-ld-offset-8 {
    margin-left: 66.66666667%;
  }
  .grid-col-ld-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .grid-col-ld-offset-7 {
    margin-left: 58.33333333%;
  }
  .grid-col-ld-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .grid-col-ld-offset-6 {
    margin-left: 50%;
  }
  .grid-col-ld-offset-right-6 {
    margin-right: 50%;
  }
  .grid-col-ld-offset-5 {
    margin-left: 41.66666667%;
  }
  .grid-col-ld-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .grid-col-ld-offset-4 {
    margin-left: 33.33333333%;
  }
  .grid-col-ld-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .grid-col-ld-offset-3 {
    margin-left: 25%;
  }
  .grid-col-ld-offset-right-3 {
    margin-right: 25%;
  }
  .grid-col-ld-offset-2 {
    margin-left: 16.66666667%;
  }
  .grid-col-ld-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .grid-col-ld-offset-1 {
    margin-left: 8.33333333%;
  }
  .grid-col-ld-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .grid-col-ld-offset-0 {
    margin-left: 0%;
  }
  .grid-col-ld-offset-right-0 {
    margin-right: 0%;
  }
  .grid-col-ld-pull-12 {
    right: 100%;
  }
  .grid-col-ld-pull-11 {
    right: 91.66666667%;
  }
  .grid-col-ld-pull-10 {
    right: 83.33333333%;
  }
  .grid-col-ld-pull-9 {
    right: 75%;
  }
  .grid-col-ld-pull-8 {
    right: 66.66666667%;
  }
  .grid-col-ld-pull-7 {
    right: 58.33333333%;
  }
  .grid-col-ld-pull-6 {
    right: 50%;
  }
  .grid-col-ld-pull-5 {
    right: 41.66666667%;
  }
  .grid-col-ld-pull-4 {
    right: 33.33333333%;
  }
  .grid-col-ld-pull-3 {
    right: 25%;
  }
  .grid-col-ld-pull-2 {
    right: 16.66666667%;
  }
  .grid-col-ld-pull-1 {
    right: 8.33333333%;
  }
  .grid-col-ld-pull-0 {
    right: 0%;
  }
  .grid-col-ld-push-12 {
    left: 100%;
  }
  .grid-col-ld-push-11 {
    left: 91.66666667%;
  }
  .grid-col-ld-push-10 {
    left: 83.33333333%;
  }
  .grid-col-ld-push-9 {
    left: 75%;
  }
  .grid-col-ld-push-8 {
    left: 66.66666667%;
  }
  .grid-col-ld-push-7 {
    left: 58.33333333%;
  }
  .grid-col-ld-push-6 {
    left: 50%;
  }
  .grid-col-ld-push-5 {
    left: 41.66666667%;
  }
  .grid-col-ld-push-4 {
    left: 33.33333333%;
  }
  .grid-col-ld-push-3 {
    left: 25%;
  }
  .grid-col-ld-push-2 {
    left: 16.66666667%;
  }
  .grid-col-ld-push-1 {
    left: 8.33333333%;
  }
  .grid-col-ld-push-0 {
    left: 0%;
  }
}
.wrapper-page {
  height: 100%;
  background: #f6f6f6;
  min-width: 320px;
}
.page {
  min-height: 100%;
  height: 100%;
}
.content-page {
  padding: 30px 0;
  background: #f6f6f6;
}
.container {
  width: 100%;
  max-width: 865px;
  margin: 0 auto;
  padding: 0 10px;
}
img {
  border: 0;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.btn {
  display: table;
  table-layout: fixed;
  position: relative;
  padding: 14px 15px;
  min-width: 220px;
  color: #2c303d;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 15px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 22px;
  text-decoration: none;
  background: #8ae6cf;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.no-touch .btn:hover {
  text-decoration: none;
  color: #8ae6cf;
  background: #2c303d;
}
.close-btn {
  display: table;
  background: none;
  border: none;
  font: 0/0 a;
  min-width: 30px;
  min-height: 30px;
  height: 1px;
}
.close-btn:after {
  content: "";
  display: block;
  margin: 0 0 0 auto;
  width: 15px;
  height: 15px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -102px;
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .btn {
    min-width: 290px;
    margin: 0 auto 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 29px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul LI {
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol LI {
  margin: 0;
  padding: 0;
}
ul:not([class]) {
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}
ul:not([class]) LI {
  margin: 0 0 10px;
  padding: 0 0 0 10px;
  position: relative;
}
ul:not([class]) LI:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 3px;
  height: 3px;
  background: #2c303d;
}
ol:not([class]) {
  padding: 0;
  margin: 0 0 15px;
  counter-reset: item;
  list-style: none;
}
ol:not([class]) LI {
  color: #282828;
  margin: 0 0 10px 20px;
  padding: 0;
  position: relative;
}
ol:not([class]) LI:before {
  content: counter(item) ". ";
  counter-increment: item;
  list-style-position: outside;
  color: #2c303d;
  font-weight: 700;
  position: absolute;
  right: 100%;
  margin: 0 5px 0 0;
}
dt {
  font-weight: 700;
}
dl,
dd,
dt {
  margin: 0;
}
label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #2c303d;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}
.form-inline {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  padding: 12px 0;
  margin: 0 -6px;
}
.form-inline > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.form-inline > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.form-inline > * {
  margin: 0 6px 12px;
  vertical-align: middle;
  font-size: 14px;
}
input[type=radio]:not(checked) {
  display: none;
}
input[type=radio]:checked {
  display: none;
}
input[type=radio]:checked + label {
  background: #2c303d;
  color: #fff;
}
input[type=radio] + label {
  display: inline-block;
  position: relative;
  padding: 11px 5px;
  margin-bottom: 12px;
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2c303d;
  background: #fff;
  border: 1px solid #2c303d;
  text-align: center;
  border-radius: 50%;
  min-width: 40px;
}
input[type=radio] + label > * {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .form-title {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .form-title {
    font-size: 20px;
    text-align: center;
  }
  .form-inline {
    text-align: center;
    width: 100%;
  }
}
.jq-dropdown-trigger {
  display: inline-table;
  table-layout: fixed;
  font-size: 18px;
  color: #2c87ce;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
}
.jq-dropdown-panel {
  display: none;
  position: absolute;
  z-index: 10;
  width: 290px;
  left: 50%;
  top: 100%;
  margin: 18px 0 0 -145px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 15px 10px;
}
.jq-dropdown-panel:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.jq-dropdown-panel:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  top: -8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 16px;
  height: 16px;
  background: #fff;
  transform: rotate(-45deg);
}
.jq-dropdown-open {
  display: block;
}
.jq-dropdown {
  position: relative;
}
.jq-dropdown-head {
  position: relative;
  padding: 15px 30px 5px 0;
  background: #fff;
  z-index: 4;
}
.jq-dropdown-head .close-btn {
  position: absolute;
  right: 0;
  top: 21px;
}
.jq-dropdown-head h6 {
  color: #2c87ce;
}
.social-share-over {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 15px;
}
.social-share-row {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  margin: 0 -7px;
}
.social-share-row > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.social-share-row > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.social-share-row > li {
  margin: 0 7px;
}
.social-icon {
  display: table;
  table-layout: fixed;
  min-height: 40px;
  height: 1px;
  border: 2px solid #2c87ce;
  border-radius: 50%;
  margin: 0 0 10px;
}
.social-icon i {
  min-width: 36px;
  font: 0/0 a;
  font-style: normal;
  display: table-cell;
  vertical-align: middle;
}
.social-icon i:before {
  content: "";
  display: block;
  margin: auto;
}
.social-icon-facebook i:before {
  width: 8px;
  height: 16px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -118px;
}
.social-icon-twitter i:before {
  width: 16px;
  height: 13px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -176px;
}
.social-icon-pinterest i:before {
  width: 16px;
  height: 21px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -153px;
}
.social-icon-youtube i:before {
  width: 17px;
  height: 18px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -190px;
}
.social-icon-instagram i:before {
  width: 17px;
  height: 17px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -135px;
}
.carousel {
  position: relative;
}
.carousel-list {
  overflow: hidden;
}
.carousel-track {
  position: relative;
}
.carousel-track > * {
  float: left;
}
.carousel-prev {
  display: block;
  position: absolute;
  z-index: 20;
  left: 15px;
  top: 50%;
  padding: 0;
  font: 0/0 a;
  margin: -25px 0 0;
  border: none;
  content: "";
  width: 29px;
  height: 50px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 0;
}
.carousel-next {
  display: block;
  position: absolute;
  z-index: 20;
  font: 0/0 a;
  padding: 0;
  right: 15px;
  top: 50%;
  margin: -25px 0 0;
  border: none;
  content: "";
  width: 29px;
  height: 50px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -50px;
}
@media screen and (min-width: 480px) {
  .carousel-prev,
  .carousel-next {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .carousel {
    padding: 0 55px;
  }
  .carousel:not(.initialized) {
    width: 100%;
  }
  .carousel:not(.initialized) .carousel-track > *:not(:nth-child(1)) {
    display: none;
  }
  .carousel > .grid {
    margin: 0;
  }
  .carousel > .grid > .grid-row {
    width: auto;
    display: block;
  }
  .carousel .card {
    margin-bottom: 0;
  }
}
.section-card-detail {
  margin: 0 0 40px;
}
.card-detail-media {
  background: #eaf2f4;
  position: relative;
  margin: 0 0 15px;
}
.card-detail-img {
  width: 100%;
  display: block;
}
.card-detail-description h6 {
  font-size: 14px;
  text-transform: uppercase;
}
.card-detail-title {
  text-transform: uppercase;
}
.card-detail-code {
  font-size: 10px;
  font-weight: 400;
  color: #2c303d;
}
.card-detail-prices {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  margin: 0 -12px 20px;
}
.card-detail-prices > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-detail-prices > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-detail-prices > * {
  margin: 0 12px;
}
.card-detail-price-old {
  font-size: 24px;
  color: #2c303d;
  font-weight: 700;
  position: relative;
}
.card-detail-price-old:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
  background: #2c303d;
}
.card-detail-price-new {
  font-size: 24px;
  color: #ce2c52;
  font-weight: 700;
}
.card-detail-price {
  font-size: 24px;
  color: #2c303d;
  font-weight: 700;
  position: relative;
}
.card-detail-info {
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  margin: 0 -10px 20px;
}
.card-detail-info > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-detail-info > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-detail-info > * {
  margin: 0 10px;
  vertical-align: middle;
}
.rating {
  display: inline-table;
  width: 92px;
  height: 16px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -210px;
}
.rating > div {
  display: block;
  height: 16px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -227px;
}
.card {
  display: block;
  text-decoration: none;
  position: relative;
  background: #2c303d;
  margin: 0 0 20px;
  overflow: hidden;
}
.card-img {
  display: block;
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 0.35s linear 0s;
  -moz-transition: all 0.35s linear 0s;
  -ms-transition: all 0.35s linear 0s;
  -o-transition: all 0.35s linear 0s;
  transition: all 0.35s linear 0s;
}
.no-touch .card:hover .card-img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.card-prices {
  position: absolute;
  z-index: 2;
  bottom: 22px;
  right: 0;
  display: table;
  table-layout: fixed;
  font-size: 0;
  line-height: 0;
  background: #8ae6cf;
}
.card-prices > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-prices > * {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
}
.card-prices > * {
  margin: 0 10px;
}
.card-price-old {
  font-size: 16px;
  color: #2c303d;
  font-weight: 700;
  position: relative;
}
.card-price-old:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
  background: #2c303d;
}
.card-price-new {
  font-size: 16px;
  color: #ce2c52;
  font-weight: 700;
}
.card-price {
  font-size: 16px;
  color: #2c303d;
  font-weight: 700;
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-card-group h4 {
    text-align: center;
  }
  .card-prices {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(138, 230, 207, 0.8);
  }
  .card-price-old {
    display: none;
  }
  .card-price-new,
  .card-price {
    font-size: 22px;
  }
  .card-detail-code {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .card-detail-prices {
    margin-bottom: 10px;
  }
  .card-detail-price-old {
    font-size: 36px;
  }
  .card-detail-price-new {
    font-size: 36px;
  }
  .card-detail-price {
    font-size: 36px;
  }
}
@media screen and (max-width: 575px) {
  .section-card-group h4 {
    font-size: 24px;
  }
  .card-detail-code {
    font-size: 12px;
  }
  .section-card-detail {
    margin-bottom: 15px;
  }
  .share-panel {
    display: block;
  }
  .share-panel .jq-dropdown-panel {
    display: block;
    position: static;
    width: auto;
    left: auto;
    top: auto;
    margin: 0;
    background: none;
    box-shadow: none;
    padding: 30px 0 0;
  }
  .share-panel .jq-dropdown-panel:before,
  .share-panel .jq-dropdown-panel:after {
    content: none;
  }
  .share-panel .jq-dropdown-panel .jq-dropdown-head {
    display: none;
  }
}
/*# sourceMappingURL=theme.css.map */