// Button
.btn {
  display: table;
  table-layout: fixed;
  position: relative;
  padding: 14px 15px;
  min-width: 220px;
  color: @color-2;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 15px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  .border-radius(22px);
  text-decoration: none;
  background: @color-6;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-touch {
  .btn {
    &:hover {
      text-decoration: none;
      color: @color-6;
      background: @color-2;
    }
  }
}

.close-btn{
  display: table;
  background: none;
  border: none;
  font: ~"0/0" a;
  min-width: 30px;
  min-height: 30px;
  height: 1px;
  &:after {
    content: "";
    display: block;
    margin: 0 0 0 auto;
    width: 15px;
    height: 15px;
    background: transparent url(../images/icons/sprite.svg) no-repeat;
    background-position: 0 -102px;
  }
}


//Media
@media screen and (max-width: @screen-tl-max) {
  .btn {
    font-size: 18px;
  }
}

@media screen and (max-width: @screen-ph-max) {
  .btn {
    min-width: 290px;
    margin: 0 auto 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    .border-radius(29px);
  }
}