// Carcass
.wrapper-page {
  height: 100%;
  background: @color-7;
  min-width: 320px;
}

.page {
  min-height: 100%;
  height: 100%;
}

.content-page {
  padding: 30px 0;
  background: @color-7;
}

.container {
  width: 100%;
  max-width: @container;
  margin: 0 auto;
  padding: 0 @gutter / 2;
}

