// Card
//card-detail
.section-card-detail{
  margin: 0 0 40px;
}

.card-detail-media{
  background: @color-8;
  position: relative;
  margin: 0 0 15px;
}

.card-detail-img {
  width: 100%;
  display: block;
}

.card-detail-description{
  h6 {
    font-size: 14px;
    text-transform: uppercase;
  }
}

.card-detail-title{
  text-transform: uppercase;
}

.card-detail-code {
  font-size: 10px;
  font-weight: 400;
  color: @color-2;
}

.card-detail-prices{
  .inline();
  margin: 0 -12px 20px;
  & > * {
    margin: 0 12px;
  }
}

.card-detail-price-old{
  font-size: 24px;
  color: @color-2;
  font-weight: 700;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    right: 0;
    height: 1px;
    background: @color-2;
  }
}

.card-detail-price-new{
  font-size: 24px;
  color: @color-4;
  font-weight: 700;
}

.card-detail-price{
  font-size: 24px;
  color: @color-2;
  font-weight: 700;
  position: relative;
}

.card-detail-info{
  .inline();
  margin: 0 -10px 20px;
  & > * {
    margin: 0 10px;
    vertical-align: middle;
  }
}

.rating {
  display: inline-table;
  width: 92px;
  height: 16px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -210px;
  & > div {
    display: block;
    height: 16px;
    background: transparent url(../images/icons/sprite.svg) no-repeat;
    background-position: 0 -227px;
  }
}

//card
.card {
  display: block;
  text-decoration: none;
  position: relative;
  background: @color-2;
  margin: 0 0 20px;
  overflow: hidden;
}

.card-img{
  display: block;
  width: 100%;
  .transform(scale(1));
  .transition(all 0.35s linear 0s);
}

.no-touch {
  .card {
    &:hover {
      .card-img {
        .transform(scale(1.04));
      }
    }
  }
}

.card-prices{
  position: absolute;
  z-index: 2;
  bottom: 22px;
  right: 0;
  .inline();
  background: @color-6;
  & > * {
    margin: 0 10px;
  }
}

.card-price-old{
  font-size: 16px;
  color: @color-2;
  font-weight: 700;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    right: 0;
    height: 1px;
    background: @color-2;
  }
}

.card-price-new{
  font-size: 16px;
  color: @color-4;
  font-weight: 700;
}

.card-price{
  font-size: 16px;
  color: @color-2;
  font-weight: 700;
  position: relative;
}



//Media
@media screen and (max-width: @screen-tl-max) {
  .section-card-group {
    h4 {
      text-align: center;
    }
  }

  .card-prices{
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(138,230,207,0.8);
  }

  .card-price-old{
    display: none;
  }

  .card-price-new,
  .card-price{
    font-size: 22px;
  }

  .card-detail-code {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .card-detail-prices {
    margin-bottom: 10px;
  }

  .card-detail-price-old{
    font-size: 36px;
  }

  .card-detail-price-new{
    font-size: 36px;
  }

  .card-detail-price{
    font-size: 36px;
  }
}

@media screen and (max-width: @screen-ph-max) {
  .section-card-group {
    h4 {
      font-size: 24px;
    }
  }

  .card-detail-code {
    font-size: 12px;
  }

  .section-card-detail {
    margin-bottom: 15px;
  }

  .share-panel{
    display: block;
    .jq-dropdown-panel {
      display: block;
      position: static;
      width: auto;
      left: auto;
      top: auto;
      margin: 0;
      background: none;
      box-shadow: none;
      padding: 30px 0 0;
      &:before,
      &:after {
        content: none;
      }
      .jq-dropdown-head{
        display: none;
      }
    }
  }
}

