//Carousel
.carousel {
  position: relative;
}

.carousel-list {
  overflow: hidden;
}

.carousel-track  {
  position: relative;
  & > * {
    float: left;
  }
}

.carousel-prev{
  display: block;
  position: absolute;
  z-index: 20;
  left: 15px;
  top: 50%;
  padding: 0;
  font: ~"0/0" a;
  margin: -25px 0 0;
  border: none;
  content: "";
  width: 29px;
  height: 50px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 0;
}

.carousel-next{
  display: block;
  position: absolute;
  z-index: 20;
  font: ~"0/0" a;
  padding: 0;
  right: 15px;
  top: 50%;
  margin: -25px 0 0;
  border: none;
  content: "";
  width: 29px;
  height: 50px;
  background: transparent url(../images/icons/sprite.svg) no-repeat;
  background-position: 0 -50px;
}



//Media
@media screen and (min-width: @screen-mb-min) {
  .carousel-prev,
  .carousel-next {
    display: none;
  }
}


@media screen and (max-width: @screen-mb-max) {
  .carousel {
    padding: 0 55px;
    //fix jump
    &:not(.initialized) {
      width: 100%;
      .carousel-track  {
        & > *:not(:nth-child(1)) {
          display: none;
        }
      }
    }
    //.
    & > .grid {
      margin: 0;
      & > .grid-row {
        width: auto;
        display: block;
      }
    }
    .card {
      margin-bottom: 0;
    }
  }
}