// Dropdown
.jq-dropdown-trigger{
  display: inline-table;
  table-layout: fixed;
  font-size: 18px;
  color: @color-5;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
}

.jq-dropdown-panel {
  display: none;
  position: absolute;
  z-index: 10;
  width: 290px;
  left: 50%;
  top: 100%;
  margin: 18px 0 0 -145px;
  background: @color-3;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 15px 10px;
  &:before {
    content: "";
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid @color-3;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    top: -8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 16px;
    height: 16px;
    background: @color-3;
    transform: rotate(-45deg);
  }
}

.jq-dropdown-open {
  display: block;
}

.jq-dropdown{
  position: relative;
}

.jq-dropdown-head{
  position: relative;
  padding: 15px 30px 5px 0;
  background: @color-3;
  z-index: 4;
  .close-btn{
    position: absolute;
    right: 0;
    top: 21px;
  }
  h6 {
    color: @color-5;
  }
}

