// Form

//label
label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: @color-2;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

// button
button {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

//form-inline
.form-inline{
  .inline();
  padding: 12px 0;
  margin: 0 -6px;
  & > * {
    margin: 0 6px 12px;
    vertical-align: middle;
    font-size: 14px;
  }
}


//radio
input[type=radio] {
  &:not(checked){
    display: none;
  }
  &:checked {
    display: none;
    & + label {
      background: @color-2;
      color: @color-3;
    }
  }
  & + label {
    display: inline-block;
    position: relative;
    padding: 11px 5px;
    margin-bottom: 12px;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: @color-2;
    background: @color-3;
    border: 1px solid @color-2;
    text-align: center;
    .border-radius(50%);
    min-width: 40px;
    & > * {
      pointer-events: none;
    }
  }
}



//Media
@media screen and (max-width: @screen-tl-max) {
  .form-title {
    display: block;
  }
}

@media screen and (max-width: @screen-ph-max) {
  .form-title {
    font-size: 20px;
    text-align: center;
  }

  .form-inline{
    text-align: center;
    width: 100%;
  }
}

