//grid
.grid {
  margin-left: @gutter / -2;
  margin-right: @gutter / -2;
}

//row
.grid-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  & > * {
    font-size: @font-size-base;
    line-height: @line-height-base;
  }
}

//alignment
.align-top-grid >[class*="grid-col-"] {
    vertical-align: top;
}

.align-middle-grid >[class*="grid-col-"] {
    vertical-align: middle;
}

.align-bottom-grid >[class*="grid-col-"] {
    vertical-align: bottom;
}

[class*="grid-col-"].align-top-col {
    vertical-align: top;
}

[class*="grid-col-"].align-middle-col {
    vertical-align: middle;
}

[class*="grid-col-"].align-bottom-col {
    vertical-align: bottom;
}

.grid-row [class*="push-"],
.grid-row [class*="pull-"] {
  position: relative;
}

//no-gutters
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > .grid-row {
    & > [class*="grid-col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


// Mobile and up
.fluidable (@index) when (@index > 0) {
  .grid-col-mb-@{index} {
    padding-left: @gutter / 2;
    padding-right: @gutter / 2;
    width: @columnWidth * @index;
    display: inline-table;
    table-layout: fixed;
    vertical-align: top;
  }
  .fluidable(@index - 1);
}

.fluidable (0) {
}

.fluidable (@columns);

// Offset
.offset (@index) when (@index > -1) {
  .grid-col-mb-offset-@{index} {
    margin-left: @columnWidth * @index;
  }
  .grid-col-mb-offset-right-@{index} {
    margin-right: @columnWidth * @index;
  }
  .offset(@index - 1);
}

.offset (0) {
}

.offset (@columns);

// Pull
.pull (@index) when (@index > -1) {
  .grid-col-mb-pull-@{index} {
    right: @columnWidth * @index;
  }
  .pull(@index - 1);
}

.pull (0) {
}

.pull (@columns);

// Push
.push (@index) when (@index > -1) {
  .grid-col-mb-push-@{index} {
    left: @columnWidth * @index;
  }
  .push(@index - 1);
}

.push (0) {
}

.push (@columns);

// between Mobile and Phone
@media (min-width: @screen-mb-min) {
  .fluidable (@index) when (@index > 0) {
    .grid-col-sm-@{index} {
      padding-left: @gutter / 2;
      padding-right: @gutter / 2;
      width: @columnWidth * @index;
      display: inline-table;
      table-layout: fixed;
      vertical-align: top;
    }
    .fluidable(@index - 1);
  }
  .fluidable (0) {
  }
  .fluidable (@columns);

  // Offset
  .offset (@index) when (@index > -1) {
    .grid-col-sm-offset-@{index} {
      margin-left: @columnWidth * @index;
    }
    .grid-col-sm-offset-right-@{index} {
      margin-right: @columnWidth * @index;
    }
    .offset(@index - 1);
  }
  .offset (0) {
  }
  .offset (@columns);

  // Pull
  .pull (@index) when (@index > -1) {
    .grid-col-sm-pull-@{index} {
      right: @columnWidth * @index;
    }
    .pull(@index - 1);
  }
  .pull (0) {
  }
  .pull (@columns);

  // Push
  .push (@index) when (@index > -1) {
    .grid-col-sm-push-@{index} {
      left: @columnWidth * @index;
    }
    .push(@index - 1);
  }
  .push (0) {
  }
  .push (@columns);
}

//Phone and up
@media (min-width: @screen-ph-min) {
  .fluidable (@index) when (@index > 0) {
    .grid-col-ph-@{index} {
      padding-left: @gutter / 2;
      padding-right: @gutter / 2;
      width: @columnWidth * @index;
      display: inline-table;
      table-layout: fixed;
      vertical-align: top;
    }
    .fluidable(@index - 1);
  }
  .fluidable (0) {
  }
  .fluidable (@columns);

  // Offset
  .offset (@index) when (@index > -1) {
    .grid-col-ph-offset-@{index} {
      margin-left: @columnWidth * @index;
    }
    .col-ph-offset-right-@{index} {
      margin-right: @columnWidth * @index;
    }
    .offset(@index - 1);
  }
  .offset (0) {
  }
  .offset (@columns);

  // Pull
  .pull (@index) when (@index > -1) {
    .grid-col-ph-pull-@{index} {
      right: @columnWidth * @index;
    }
    .pull(@index - 1);
  }
  .pull (0) {
  }
  .pull (@columns);

  // Push
  .push (@index) when (@index > -1) {
    .grid-col-ph-push-@{index} {
      left: @columnWidth * @index;
    }
    .push(@index - 1);
  }
  .push (0) {
  }
  .push (@columns);
}

//Tablet and up
@media (min-width: @screen-tl-min) {
  .fluidable (@index) when (@index > 0) {
    .grid-col-tl-@{index} {
      padding-left: @gutter / 2;
      padding-right: @gutter / 2;
      width: @columnWidth * @index;
      display: inline-table;
      table-layout: fixed;
      vertical-align: top;
    }
    .fluidable(@index - 1);
  }
  .fluidable (0) {
  }
  .fluidable (@columns);

  // Offset
  .offset (@index) when (@index > -1) {
    .grid-col-tl-offset-@{index} {
      margin-left: @columnWidth * @index;
    }
    .col-tl-offset-right-@{index} {
      margin-right: @columnWidth * @index;
    }
    .offset(@index - 1);
  }
  .offset (0) {
  }
  .offset (@columns);

  // Pull
  .pull (@index) when (@index > -1) {
    .grid-col-tl-pull-@{index} {
      right: @columnWidth * @index;
    }
    .pull(@index - 1);
  }
  .pull (0) {
  }
  .pull (@columns);

  // Push
  .push (@index) when (@index > -1) {
    .grid-col-tl-push-@{index} {
      left: @columnWidth * @index;
    }
    .push(@index - 1);
  }
  .push (0) {
  }
  .push (@columns);
}

//Desktop and up
@media (min-width: @screen-dt-min) {
  .fluidable (@index) when (@index > 0) {
    .grid-col-dt-@{index} {
      padding-left: @gutter / 2;
      padding-right: @gutter / 2;
      width: @columnWidth * @index;
      display: inline-table;
      table-layout: fixed;
      vertical-align: top;
    }
    .fluidable(@index - 1);
  }
  .fluidable (0) {
  }
  .fluidable (@columns);

  // Offset
  .offset (@index) when (@index > -1) {
    .grid-col-dt-offset-@{index} {
      margin-left: @columnWidth * @index;
    }
    .grid-col-dt-offset-right-@{index} {
      margin-right: @columnWidth * @index;
    }
    .offset(@index - 1);
  }
  .offset (0) {
  }
  .offset (@columns);

  // Pull
  .pull (@index) when (@index > -1) {
    .grid-col-dt-pull-@{index} {
      right: @columnWidth * @index;
    }
    .pull(@index - 1);
  }
  .pull (0) {
  }
  .pull (@columns);

  // Push
  .push (@index) when (@index > -1) {
    .grid-col-dt-push-@{index} {
      left: @columnWidth * @index;
    }
    .push(@index - 1);
  }
  .push (0) {
  }
  .push (@columns);
}

//Large desktop and up
@media (min-width: @screen-ld-min) {
  .fluidable (@index) when (@index > 0) {
    .grid-col-ld-@{index} {
      padding-left: @gutter / 2;
      padding-right: @gutter / 2;
      width: @columnWidth * @index;
      display: inline-table;
      table-layout: fixed;
      vertical-align: top;
    }
    .fluidable(@index - 1);
  }
  .fluidable (0) {
  }
  .fluidable (@columns);

  // Offset
  .offset (@index) when (@index > -1) {
    .grid-col-ld-offset-@{index} {
      margin-left: @columnWidth * @index;
    }
    .grid-col-ld-offset-right-@{index} {
      margin-right: @columnWidth * @index;
    }
    .offset(@index - 1);
  }
  .offset (0) {
  }
  .offset (@columns);

  // Pull
  .pull (@index) when (@index > -1) {
    .grid-col-ld-pull-@{index} {
      right: @columnWidth * @index;
    }
    .pull(@index - 1);
  }
  .pull (0) {
  }
  .pull (@columns);

  // Push
  .push (@index) when (@index > -1) {
    .grid-col-ld-push-@{index} {
      left: @columnWidth * @index;
    }
    .push(@index - 1);
  }
  .push (0) {
  }
  .push (@columns);
}
