// List
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  LI {
    margin: 0;
    padding: 0;
  }
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  LI {
    margin: 0;
    padding: 0;
  }
}

ul:not([class]){
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
  LI {
    margin: 0 0 10px;
    padding: 0 0 0 10px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 3px;
      height: 3px;
      background: @color-2;
    }
  }
}

ol:not([class]) {
  padding: 0;
  margin: 0 0 15px;
  counter-reset: item;
  list-style: none;
  LI {
    color: @color-1;
    margin: 0 0 10px 20px;
    padding: 0;
    position: relative;
    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      list-style-position: outside;
      color: @color-2;
      font-weight: 700;
      position: absolute;
      right: 100%;
      margin: 0 5px 0 0;
    }
  }
}

dt {
  font-weight: 700;
}

dl,dd,dt {
  margin: 0;
}