// Responsive
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-inline-table {
  display: inline-table !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}


@media screen and (min-width: @screen-mb-min) {
  .d-mb-none {
    display: none !important;
  }
  .d-mb-inline {
    display: inline !important;
  }
  .d-mb-inline-block {
    display: inline-block !important;
  }
  .d-mb-block {
    display: block !important;
  }
  .d-mb-inline-table {
    display: inline-table !important;
  }
  .d-mb-table {
    display: table !important;
  }
  .d-mb-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: @screen-ph-min) {
  .d-ph-none {
    display: none !important;
  }
  .d-ph-inline {
    display: inline !important;
  }
  .d-ph-inline-block {
    display: inline-block !important;
  }
  .d-ph-block {
    display: block !important;
  }
  .d-ph-inline-table {
    display: inline-table !important;
  }
  .d-ph-table {
    display: table !important;
  }
  .d-ph-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: @screen-tl-min) {
  .d-tl-none {
    display: none !important;
  }
  .d-tl-inline {
    display: inline !important;
  }
  .d-tl-inline-block {
    display: inline-block !important;
  }
  .d-tl-block {
    display: block !important;
  }
  .d-tl-inline-table {
    display: inline-table !important;
  }
  .d-tl-table {
    display: table !important;
  }
  .d-tl-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: @screen-dt-min) {
  .d-dt-none {
    display: none !important;
  }
  .d-dt-inline {
    display: inline !important;
  }
  .d-dt-inline-block {
    display: inline-block !important;
  }
  .d-dt-block {
    display: block !important;
  }
  .d-dt-inline-table {
    display: inline-table !important;
  }
  .d-dt-table {
    display: table !important;
  }
  .d-dt-table-cell {
    display: table-cell !important;
  }
}

@media screen and (min-width: @screen-ld-min) {
  .d-ld-none {
    display: none !important;
  }
  .d-ld-inline {
    display: inline !important;
  }
  .d-ld-inline-block {
    display: inline-block !important;
  }
  .d-ld-block {
    display: block !important;
  }
  .d-ld-inline-table {
    display: inline-table !important;
  }
  .d-ld-table {
    display: table !important;
  }
  .d-ld-table-cell {
    display: table-cell !important;
  }
}





