// Social
.social-share-over {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 15px;
}

.social-share-row{
  .inline();
  margin: 0 -7px;
  & > li {
    margin: 0 7px;
  }
}

.social-icon{
  display: table;
  table-layout: fixed;
  min-height: 40px;
  height: 1px;
  border: 2px solid @color-5;
  .border-radius(50%);
  margin: 0 0 10px;
  i{
    min-width: 36px;
    font: ~"0/0" a;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    &:before {
      content: "";
      display: block;
      margin: auto;
    }
  }
}

.social-icon-facebook{
  i{
    &:before {
      width: 8px;
      height: 16px;
      background: transparent url(../images/icons/sprite.svg) no-repeat;
      background-position: 0 -118px;
    }
  }
}

.social-icon-twitter{
  i{
    &:before {
      width: 16px;
      height: 13px;
      background: transparent url(../images/icons/sprite.svg) no-repeat;
      background-position: 0 -176px;
    }
  }
}

.social-icon-pinterest{
  i{
    &:before {
      width: 16px;
      height: 21px;
      background: transparent url(../images/icons/sprite.svg) no-repeat;
      background-position: 0 -153px;
    }
  }
}

.social-icon-youtube{
  i{
    &:before {
      width: 17px;
      height: 18px;
      background: transparent url(../images/icons/sprite.svg) no-repeat;
      background-position: 0 -190px;
    }
  }
}

.social-icon-instagram{
  i{
    &:before {
      width: 17px;
      height: 17px;
      background: transparent url(../images/icons/sprite.svg) no-repeat;
      background-position: 0 -135px;
    }
  }
}