// Box model
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// html
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

//body
body {
  -webkit-font-smoothing: antialiased;
  font: 300 @font-size-base/@line-height-base @font-family-base;
  color: @color-1;
  height: 100%;
  background: @color-7;
}

// Headings
h1, h2, h3, h4, h5, h6{
  font-family: @font-family-oswald;
  font-weight: 700;
  color: @color-2;
  margin: 0 0 10px;
}


h1 { font-size: @font-size-h1; }
h2 { font-size: @font-size-h2; }
h3 { font-size: @font-size-h3; }
h4 { font-size: @font-size-h4; }
h5 { font-size: @font-size-h5; }
h6 { font-size: @font-size-h6; }


// Paragraph
p {
  margin: 0 0 20px;
}

// Link
a:not([class]) {
  color: @color-1;
  outline: none;
  text-decoration: underline;
  &:hover {
    color: @color-1;
  }
}

//audio, canvas, iframe, svg, video
audio,
canvas,
svg,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle;
}

iframe {
  width: 1px;
  min-width: 100%;
  *width: 100%;
  margin: 0 0 15px;
  border: none;
}

// Blockquote
blockquote {
  font-family: @font-family-base;
  font-size: 25px;
  margin: 0 0 15px;
}

// hr
hr {
  border: none;
  margin: 0 0 20px;
  padding: 0;
  height: 1px;
  background: @color-1;
}

// Table
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

table,
th,
td {
  border: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 30px;
  width: 100%;
  a:not([class]) {
    color: @color-2;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: @color-2;
    }
  }
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {

}

th,
td {
  padding: 8px 15px;
}

tbody {
  tr {
    &:nth-child(2n+1) {
      th,
      td {
        background: @color-1;
      }
    }
  }
}


thead,
tfoot {
  th,
  td {
    background: @color-2;
    color: @color-3;
  }
}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.align-right {
  &[class]{
    margin-left: auto;
    margin-right: 0;
    display: table;
    table-layout: fixed;
  }
  margin-left: auto;
  margin-right: 0;
  display: table;
  table-layout: fixed;
}

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Color
.color-1 {  color: @color-1;  }
.color-2 {  color: @color-2;  }
.color-3 {  color: @color-3;  }
.color-4 {  color: @color-4;  }
.color-5 {  color: @color-5;  }
.color-6 {  color: @color-6;  }
.color-7 {  color: @color-7;  }
.color-8 {  color: @color-8;  }



// Background
.bg-1 {  background: @color-1;  }
.bg-2 {  background: @color-2;  }
.bg-3 {  background: @color-3;  }
.bg-4 {  background: @color-4;  }
.bg-5 {  background: @color-5;  }
.bg-6 {  background: @color-6;  }
.bg-7 {  background: @color-7;  }
.bg-8 {  background: @color-8;  }


//float
.float-right {
  float: right;
  margin: 0 0 15px 15px;
}

.float-left {
  float: left;
  margin: 0 15px 15px 0;
}

//full width
.full-width {
  width: 100%;
}

//grid system
.my-grid-system [class^="grid-col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background: #BFDFBF;
  background-color: rgba(0,127,0,.25);
  border: 1px solid #5FAF5F;
  border: 1px solid rgba(0,127,0,.5);
}

.grid-align-example {
  .grid{
    margin-bottom: 15px;
  }
}
