// Colors
@color-1: #282828;
@color-2: #2c303d;
@color-3: #fff;
@color-4: #ce2c52;
@color-5: #2c87ce;
@color-6: #8ae6cf;
@color-7: #f6f6f6;
@color-8: #eaf2f4;



// Typography
@font-family-base: @font-family-open-sans;
@font-family-open-sans: 'Open Sans', sans-serif;
@font-family-oswald: 'Oswald', sans-serif;;
@font-size-base: 12px;
@line-height-base: 1.4;

@font-size-h1: 28px;
@font-size-h2: 26px;
@font-size-h3: 24px;
@font-size-h4: 22px;
@font-size-h5: 20px;
@font-size-h6: 18px;



// Media queries breakpoints

// Mobile
@screen-mb: 480px;
@screen-mb-min: @screen-mb;
@screen-phone: @screen-mb-min;

// Small screen / phablet
@screen-ph: 576px;
@screen-ph-min: @screen-ph;
@screen-phablet: @screen-ph-min;

// Tablet
@screen-tl: 768px;
@screen-tl-min: @screen-tl;
@screen-tablet: @screen-tl-min;

// Medium screen / desktop
@screen-dt: 865px;
@screen-dt-min: @screen-dt;
@screen-desktop: @screen-dt-min;

// Large screen / wide desktop
@screen-ld: 1200px;
@screen-ld-min: @screen-ld;
@screen-ld-desktop: @screen-ld-min;

// media queries maximum
@screen-mb-max: (@screen-mb-min - 1);
@screen-ph-max: (@screen-ph-min - 1);
@screen-tl-max: (@screen-tl-min - 1);
@screen-dt-max: (@screen-dt-min - 1);
@screen-ld-max: (@screen-ld-min - 1);



// Container sizes
@container: 865px;



//Grid system
@columns:       12;
@gutter:   20px;



// Column size
@columnWidth: 	100%/@columns;





